* {
	margin: 0;
	padding: 0;
}

.logo {
	float: left;
	font-size: 80px;
	font-family:  Brush Script MT;
	color: black;
	margin-left: 40px;
}
.logo:hover {
	transform: scale(1.5);
}

.menuBar {
	background-color: #9fbfdf;
	text-align: center;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 0px 0px 20px 20px;
}

body {
	font-size: 15px;
	font-family: candara;
	background: url(https://app.retargetbot.com/upload/comboposter/2/2_image_1582136788872399.jpg) no-repeat center fixed;
}

.menuBar a {
	font-family: candara;
	font-weight: 20px;
	display: inline-flex;
	list-style: none;
	color: white;
	float: center;
	font-size: 20px;
	text-decoration: none;
}

.menuBar a:hover {
	transform: scale(1.5);
}
.menuBarItems {
	margin-top: 10px;
	margin-left: 60px;
	padding-left: 100px;
	padding-right: 70px;
	display: center;
}

.buttons {
	height: 60px;
	border-radius: 10px 10px 10px 10px;
	margin-top: 50px;
}
#button1 , #button2 , #button3 , #button4 , #button5 , #button6 , #button7 {
	font-family: candara;
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
}

.category {
	margin-top: 10px;
	display: inline-block;
	padding: 10px;
	margin-right: 30px;
	margin-left: 20px;
	border: 0px;
	border-radius: 10px 10px 10px 10px;
}

.category:hover {
	background-color: lightblue;
}

#button7 {
	margin-left: 170px;
}
.images {
	height: 350px;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid #7575a3;
}

.justSwim , .justVolley , .justAmer , .justMMA , .justCycling {
	float: left;
	padding: 10px;
	max-width: 100%;
	padding-right: 100px;
	padding-left: 150px;
	padding-bottom: 100px;
	padding-top: 50px;
}


.description {
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	height: 100px;
	text-align: center;
	border: 5px solid #7575a3;
}
.aboutImages {
	border-radius: 50%;
	width: 230px;
	height: 230px;
	margin-right:100px;
	margin-left:160px;
	margin-top: 70px;
}
.about {
	float:left;
	display: inline-flex;
}
h2 {
	text-align: center;
	margin-top: 50px;
	margin-left: 80px;
	color: #47476b;
}
.text {
	text-align: center;
	margin-top: 430px;
	margin-bottom: 50px;
	margin-left: 70px;
	margin-right: 50px;
	color: #6699cc;
	font-size: 30px;
}

#button6 {
	margin-right: 30px;
	margin-left: 20px;
}
#button7 {
	margin-left: 250px;
}
.loginDiv {
	height: 300px;
	width: 500px;
	margin-left: 600px;
}
#firstN , #lastN , #phoneN , #add {
	margin: 7px;
}
#nameBtn , #lastnameBtn , #phoneBtn , #addBtn {
	margin-top: 100px;
}
#finish {
	position: relative;
	top: 160px;
	left: 670px;
	height: 25px;
	width: 75px;
}
#finish:hover {
	background-color: #9fbfdf;
}
.opening {
	font-size: 25px;
	font-family: candara;
	margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
	text-align: center;
}